/* Contact */
.contact {
	padding-top: 100px;
	background: #f1f9ff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.contact .bookDemo {
	font-family: "Avenir Next LT Pro - Demi";
	color: #333333;
	font-size: 2.3rem;
}
.contact .bookDemo p{
	font-family: "Avenir Next LT Pro - Demi";
	color: #333333;
	font-size: 2.3rem;
}
.contact .content {
	display: flex;
	gap: 60px;
	align-items: center;
	margin: 100px 0;
}
.contact .content .form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact .content .form .input-fields {
	display: flex;
	gap: 50px;
}
.contact .content .form .submit {
	font-size: 0.9rem;
	border: 3px solid #002365;
	font-weight: 600;
	background: transparent;
	color: #002365;
	padding-right: 10px;
	width: 150px;
	height: 40px;
	border-radius: 25px 0 0 0;
	margin-top: 30px;
}
.contact .content .form .submit span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.contact .content .form .submit span:after {
	content: ">";
	position: absolute;
	opacity: 1;
	top: 0;
	right: -13px;
	transition: 0.3s;
}
.contact .content .form .submit:hover span:after {
	right: -20px;
}

.contact .content img {
	height: 35rem;
}
.contact .content .input-fields select {
	width: 16rem;
	border: none;
	background: transparent;
	color: #a7adb0;
	border-bottom: 1px solid #a7adb0;
	margin: 20px 0;
	padding: 0 0 15px 0;
}
.contact .content .input-fields select:focus {
	border: none;
	outline: none;
	background: transparent;
}
.contact .content .input-fields select:focus-visible {
	border-bottom: 1px solid #a7adb0;
}
.contact .content input {
	padding-bottom: 15px;
	border: none;
	border-bottom: 1px solid #a7adb0;
	background: transparent;
	margin: 20px 0;
	text-indent: 15px;
	color: #a7adb0;
	width: 16rem;
}
.contact .content input:focus {
	outline: none;
}
