.bg_header {
	background: url("../../public/images/bg_header.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2rem 4rem 4rem 9rem;
}

.logo_img {
	width: 8rem;
	cursor: pointer;
}
.book_a_demo_navbar {
	border: 1.5px solid white;
	padding: 0.34rem 1.3rem;
	border-radius: 1.2rem 0 0 0;
}
.nav_links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	color: white;
}
.nav_links p {
	font-size: 0.95rem;
	font-family: "Avenir Next LT Pro - Demi";
	cursor: pointer;
}
.header_info {
	color: white;
	padding: 3rem 0 5rem 0;
	cursor: default;
}
.header_info h1 p {
	font-family: "Avenir Next LT Pro - Bold";
	font-size: 2.6rem;
	letter-spacing: 0.13rem;
}
.header_info h1 {
	font-size: 2.6rem;
	margin: 0 0 2rem 0;
	font-family: "Avenir Next LT Pro - Bold";
	letter-spacing: 0.13rem;
}
.header_info .secondary_text {
	font-size: 1rem;
	margin: 0 0 2rem 0;
	opacity: 0.8;
}
.btn_book_a_demo {
	font-family: "Avenir Next LT Pro - Bold";

	font-size: 0.9rem;
	color: white;
	border: 1px solid white;
	border-radius: 1rem 0 0 0;
	width: 8.5rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	cursor: pointer;
}
.btn_book_a_demo span {
	font-family: "Avenir Next LT Pro - Demi";
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.btn_book_a_demo span:after {
	content: ">";
	position: absolute;
	opacity: 1;
	top: 0;
	right: -10px;
	transition: 0.3s;
}
.btn_book_a_demo:hover span:after {
	right: -18px;
}
