.main_component {
	display: flex;
	justify-content: center;
	margin: 3rem 0 3rem 0;
}
.component {
	width: 80%;
	background-image: url("/public/images/bg-2.png");
	height: 100%;

	border-radius: 1rem;
	padding: 6% 0 5% 0;
}
.details {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}
.details {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}
.large_text {
	font-size: 2.5rem;
	font-family: "Avenir Next LT Pro - Demi";
}
.large_text p {
	font-size: 2.5rem;
	font-family: "Avenir Next LT Pro - Demi";
}
.btn_speak {
	border: 2px solid white;
	cursor: pointer;
	margin-top: 1rem;
	padding: 0.5rem 1.7rem 0.5rem 1rem;
	border-radius: 1rem 0 0 0;
}
.btn_speak span {
	font-family: "Avenir Next LT Pro - Demi";
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.btn_speak span:after {
	content: ">";
	position: absolute;
	opacity: 1;
	top: 0;
	right: -12px;
	transition: 0.3s;
}
.btn_speak:hover span:after {
	right: -18px;
}
